html {
  font-family: "Roboto", sans-serif;
  font-size: 8px;
}

html,
body {
  height: 100%;
}

* {
  margin: 0;
}

.logo {
  position: fixed;
  left: 32px;
  top: 32px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.lang {
  position: fixed;
  right: 32px;
  top: 32px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #000000;
}

.an-container {
  font-size: 0;
  margin: 0 auto;
  border-left: 1px solid #c4c4c4;
  border-right: 1px solid #c4c4c4;
  height: 100%;
  display: flex;
  justify-content: center;
}

.gap {
  display: inline-block;
  width: 1px;
  height: 100%;
  background-color: #c4c4c4;
  flex: 0 0 auto;
}

.mask-rect {
  position: relative;
  display: inline-block;
  width: 319px;
  height: 100%;
  overflow: hidden;
  flex: 0 0 auto;
}

.left-rect {
  position: relative;
  overflow: hidden;
  flex: 1 1 auto;
}

.right-rect {
  position: relative;
  overflow: hidden;
  flex: 1 1 auto;
}

.name {
  position: absolute;
  top: 0;
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 200px;
  line-height: 234px;

  /* Blue */
  color: #0275ff;
}

.r2 {
  left: -320px;
}

.r3 {
  left: -640px;
}

.n1 {
  animation-name: n1_hor;
  animation-duration: 13s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

.n2 {
  animation-name: n2_hor;
  animation-delay: 1s;
  animation-duration: 13s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

:root {
  --top_n1: 50px;
  --top_n2: 420px;
}

.n1.r1 {
  top: calc(var(--top_n1) + 10px);
}
.n1.r2 {
  top: calc(var(--top_n1) + 50px);
}
.n1.r3 {
  top: calc(var(--top_n1) + 30px);
}

.n2 {
  top: 200px;
}

.n2.r1 {
  top: calc(var(--top_n2) + 70px);
}
.n2.r2 {
  top: calc(var(--top_n2) + 50px);
}
.n2.r3 {
  top: calc(var(--top_n2) + 60px);
}

.solo-left-n1,
.solo-right-n1 {
  animation-name: solo_n1_hor;
  animation-duration: 13s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

.solo-left-n1 {
    top: calc(var(--top_n1) + 110px);
}

.solo-left-n1 {
    top: calc(var(--top_n1) + 320px);
}

.solo-left-n2,
.solo-right-n2 {
  animation-name: solo_n2_hor;
  animation-duration: 13s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

.solo-right-n1 {
    top: calc(var(--top_n1) + 310px);
}

.solo-right-n2 {
    top: calc(var(--top_n2) - 300px);
}



@keyframes n1_hor {
  0% {
    transform: translateX(-700px);
  }
  45% {
    transform: translateX(1010px);
  }
  55% {
    transform: translateX(1010px) translateY(100px);
  }
  100% {
    transform: translateX(110px) translateY(100px);
  }
}

@keyframes n2_hor {
  0% {
    transform: translateX(1010px);
  }
  45% {
    transform: translateX(-610px);
  }

  55% {
    transform: translateX(-610px) translateY(-100px);
  }

  100% {
    transform: translateX(250px) translateY(-100px);
  }
}

@keyframes solo_n1_hor {
  0% {
    transform: translateX(-700px);
  }
  45% {
    transform: translateX(1010px);
  }
  55% {
    transform: translateX(1010px) translateY(-20px);
  }
  100% {
    transform: translateX(-700px) translateY(-20px);
  }
}

@keyframes solo_n2_hor {
    0% {
      transform: translateX(1010px);
    }
    45% {
      transform: translateX(-610px);
    }

    55% {
      transform: translateX(-610px) translateY(+20px);
    }

    100% {
      transform: translateX(1010px) translateY(+20px);
    }
  }